<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="uri" type="System.Configuration.UriSection, System, 
                          Version=2.0.0.0, Culture=neutral, 
                          PublicKeyToken=b77a5c561934e089"/>
  </configSections>

  <system.serviceModel>
    <client>
      <endpoint address="https://api.login.yahoo.com/oauth/v2" binding="webHttpBinding" contract="YahooService.IYahooLoginContract" behaviorConfiguration="yahoo" bindingConfiguration="SslBinding"/>
      <endpoint address="http://fantasysports.yahooapis.com/fantasy/v2" binding="webHttpBinding" contract="YahooService.IYahooFantasyContract" behaviorConfiguration="yahoo" bindingConfiguration="NormBinding"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="yahoo">
          <webHttp defaultBodyStyle="WrappedResponse"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="SslBinding" transferMode="Streamed">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="NormBinding" transferMode="Streamed">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
